
*{
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
}
#main-content {
	color: #fff;
	margin: 6% 2%;
	position: absolute;
	width: 100%;
}
nav#nav-bar {
	align-items: center;
	background-color: rgb(120,120,130);
	background: linear-gradient(0deg, rgb(145,145,155) 0%, rgb(110,110,120) 50%, rgb(95,95,105) 50%, rgb(120,120,130) 100%);
	border: 1px solid rgb(125,125,125);
    border-radius: 5px;
    box-shadow: 1px 2px 2px rgba(50,50,50,.3);
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: center;
	margin: auto;
	width: 90%;
}
li {
	list-style: none;
}
ul#menu-list li, .site-map ul li {
	display: inline-block;
}
.fab, .fas {
	color: #fff;
}
.fab {
	font-size: 18px;
}
.search-input input:focus + .fa-search {
	color: #000;
}
#menu-list {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
#menu-list li button {
	background-color: #0000;
	border: none;
	border-right: 2px solid grey;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
	height: 34px;
	text-align: center;
	text-shadow: 0 -1px 1px #333;
	width: 100%;
}
#menu-list li button:hover {
    cursor: pointer;
    background: linear-gradient(0deg, rgba(0,0,0,.3) 0%, rgba(0,0,0,.4) 50%, rgba(0,0,0,.3) 100%);
}
#menu-list li {
	width: 10%;
}
.search-input {
	border-radius: 12px;
	box-shadow: inset 0.5px -0.5px 0.5px rgba(200,200,200,.4), inset 0 1px 1px rgba(0,0,0,.8);
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-left: 5px;
	position: relative;
}
.search-input .fas {
	left: 8%;
	position: absolute;
	top: 25%;
}
.search-input input {
	background: none;
	border: 2px solid rgb(115,115,115);
	border-radius: 12px;
	height: 28px;
	padding: 2px 18px 1px 22px;
	width: 100%;
}
.search-input input:focus {
	background-color: #fff;
	width: 150px;

	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}